<div id="screenshots">
  <div class="inner">
    <div class="container">

      <h4>Sample Topics</h4>

      <div class="row">

        <div class="span4">
          <h3>Laws of Motion</h3>
          <%= link_to image_tag(asset_path 'test/mech_example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>
        </div>

        <div class="span4">
          <h3>Electronics</h3>
          <%= link_to image_tag(asset_path 'test/example3.png'), '#', alt: "Screenshot", class: "thumbnail" %>
        </div>

        <div class="span4">
          <h3>Celestial Mechanics</h3>
          <%= link_to image_tag(asset_path 'test/mech_example2.png'), '#', alt: "Screenshot", class: "thumbnail" %>
        </div>

      </div>

    </div>
  </div>
</div>