<% provide(:title, 'About') %>

<%= render :partial => 'layouts/subheader', locals: {title: "About Us"} %>

<div id="subpage">

  <div class="container">


    <div class="row">

      <div class="span12">

        <div class="big-intro">Our mission is to make learning physics fun and accessible to anyone in the world by developing new technologies for interactive education. </div>

      </div> <!-- /span12 -->

    </div> <!-- /row -->

    <br /><br />



    <div class="row">

      <div class="span12">
        <h3><span class="slash">//</span> About The Product</h3>
      </div> <!-- /span12 -->


      <div class="span6">
        
        <p>
         We're driven by a sincere belief that learning and student interest is best attained through engagement and interaction rather than through rote methods of dictation,
          translation, and repetition. Unfortunately education today often takes the latter, less effective approach.
          Physics Academy’s objective is to create a new model of learning through a virtual laboratory-like environment
          featuring our core values of interactivity, accessibility, and community.
        </p>

          <p>Here, anyone can access lessons taught through interactive simulations, demonstrations, and puzzles.
            Live examples provide a superior method of illustrating advanced and abstract physical concepts.
            Interested in learning about circuit design or electromagnetics?</p>

        </div> <!-- /span6 -->

        <div class="span6">
          <p>In our live labs you can interactively view
            how currents, voltages, and related electromagnetic fields dynamically exist and change in real-time
            and see immediate visual feedback of how these physical phenomena are affected under various conditions.
            Want to know more about Newton's Law of Gravity? No problem, check out our examples on how celestial bodies
            act and and form stable orbits under mutual graviational pull. These are just two examples, but the
            possibilities are endless. By combining the universal application of well-established learning platforms,
            with the dynamic and portable nature of virtual physics simulations, PhysicsAcademy leverages the best
            qualities of these two increasingly popular emerging technologies to benefit the worldwide student community.</p>

        </div> <!-- /span6 -->

      </div> <!-- /row -->

      <br /><br />

      <div class="row">

        <div class="span12">
          <h3><span class="slash">//</span> About the Author</h3>
        </div> <!-- /span12 -->

        <div class="span11">
          <div class="about-user">

            <div class="img">
              <%= image_tag "theme/avatar2.png", alt: "Avatar" %>
            </div>

            <h4>Anthony Erlinger</h4>

            <p>Some meaningless self-promotional bullshit will probably go here.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

          </div> <!-- /about-user -->
        </div> <!-- /span4 -->


    </div> <!-- /row -->

  </div> <!-- /container -->

</div> <!-- /subpage -->

