<% provide(:title, 'About') %>

<%= render :partial => 'layouts/subheader', locals: {title: "About Us"} %>

<div id="subpage">

  <div class="container">

    <div class="row">

      <div class="span12">

        <div class="big-intro">
          <div class="backdrop"> </div>
        </div>

      </div> <!-- /span12 -->

    </div> <!-- /row -->

    <br /><br />



    <div class="row">

      <div class="span12">
        <h2><span class="slash">//</span> Mission Statement</h2>

        <h3>We're making learning physics fun and accessible to anyone in the world by developing new technologies for interactive education.
          Enabling students and educators to pursue their goals and change the future.</h3>
      </div> <!-- /span12 -->


      <div class="span6">

        <p>
          Learning and student interest is best attained through engagement and interaction rather than through rote methods of dictation,
          translation, and repetition. Unfortunately education today often takes the less effective approach.
          To solve this, were creating a new model of learning through a virtual laboratory environment
          featuring our core values of interactivity, accessibility, and community.
        </p>

        <p>
          By combining the universal application of well-established learning platforms,
          with the dynamic and portable nature of virtual physics simulations, Physics Academy seeks to build next-generation
          educational technologies to benefit the worldwide student community.
        </p>

        </div> <!-- /span6 -->

        <div class="span6">
          <p>Interested in learning about circuit design or electromagnetics? In our live labs you can interactively view
            how currents, voltages, and related electromagnetic fields dynamically exist and change in real-time
            and see immediate visual feedback of how these physical phenomena are affected under various conditions.
          </p>

           <p>
            Want to know more about Newton's Law of Gravity? No problem, check out our examples on how celestial bodies
            act and and form stable orbits under mutual gravitational pull.
           </p>

           <p>
             <strong>The possibilities are endless.</strong>
           </p>

        </div> <!-- /span6 -->

      </div> <!-- /row -->

      <br /><br />

    <hr>
      <div class="row">

        <div class="span12">
          <h3><span class="slash">//</span> About the Author</h3>
        </div> <!-- /span12 -->

        <div class="span11">
          <div class="about-user">

            <div class="img">
              <%= image_tag "theme/avatar2.png", alt: "Avatar" %>
            </div>

            <h4>Anthony Erlinger</h4>

            <p>Explanation here</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

          </div> <!-- /about-user -->
        </div> <!-- /span4 -->


    </div> <!-- /.row -->

  </div> <!-- /.container -->

</div> <!-- /#supage -->

