<div class="row-fluid show-grid"></div>
  <div class="well span8">
    <h1>Physics Academy</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <div class="span4 well">

  </div>

</div>
