<div class="row">

  <div class="span8 show-grid" id="interactive-preview" style="text-align: left;">
    Lesson preview here
  </div>

  <div class="span4 show-grid" id="call-to-action-pane">
    <h2>Physics Academy</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

</div>
<hr>
<!-- Text Columns
   ================================================== -->
<div class="row">
  <div class="span4 show-grid">
    <h2>Upcoming Projects</h2>
    <p>PhysicsAcademy is in the early stages of development. Stay Tuned! Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4 show-grid">
    <h2>News</h2>
    <p>PhysicsAcademy is in the early stages of development. Stay Tuned!  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>

  <div class="span4 show-grid">
    <h2>News</h2>
    <p>PhysicsAcademy is in the early stages of development. Stay Tuned!  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>


