<script type="text/javascript">
  $(function() {
    $("#task_description").text("You are given 20 support beams and 15 joints with which you can use to connect two or " +
                "more beams together. Given these materials, build the tallest stable structure that can support its " +
                "own weight ");
  });
</script>

<div id="preview" class="newton canvas_wrapper"
     data-width="860" data-height="860" data-path=<%= asset_path("newton/gravity/gravity.json")%> ></div>