<%= provide(:description, "You have twelve identical looking balls with one ball being slightly heavier or \
    lighter than the other eleven. Given a balance, how can you find this ball using only three weighings?")  %>
<div id="preview" class="newton canvas_wrapper"
     data-width="860" data-height="440" data-path=<%= asset_path("newton/pressure/pressure.json")%> ></div>