<!-- LESSON TASK PATHBAR (e.g. Lessons / Introduction to Physics / What is Physics -->
<ul class="breadcrumb shadow">
  <li>
    <a href="#">Lessons</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#"><%= @lesson.title %></a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#"><%= @task.title %></a>
  </li>
</ul>