<div class="box-header">
  <div class="box-title task_title">
    <%= "Task ##{@task.id}: #{@task.title}"%>
  </div>
</div>

<div class="box-features rounded padded">
  <p id="task_description" class="task_description">
    <%= yield :description %>
  </p>
</div>