<div class="box-features">

  <div id="task_content">
    <%=
        begin
          render partial: path_for_lesson_task(@lesson, @task)
        rescue ActionView::MissingTemplate
          "Couldn't find page #{path_for_lesson_task(@lesson, @task)}"
        end
    %>
  </div>

  <% if Rails.env.development? %>

   <%= render partial: "dev_response" %>

  <% end %>

</div>

<!-- SUBMISSION -->
<div class="box-actions">
  <%= link_to "Submit Answer", pass_lesson_task_path, method: :put,
              class: "btn btn-success btn-large title", id: "submit", style: "width: 90%;" %>
</div>
