<% provide(:title, "Sign up") %>

<%= render partial: "layouts/subheader", locals: {title: "Sign Up"} %>

<div class="chalkboard-background">
  <div class="container">
    <%= render 'form' %>
  </div>
</div>