<h1>
  Introduction to Physics
</h1>

<iframe width="600" height="400" class="video center" src="http://www.youtube.com/embed/97oTDANuZco" frameborder="0" allowfullscreen ></iframe>

<p>
Science, in it's simplest definition is the process of acquiring knowledge from the basis of testable observations.
  It is always important to remember that is a continuous <em>endeavor</em>.
  It is helpful to cover a few points on what science <em>is</em>, and what science <em>is not</em>.

  Science is descriptive: Science exists independently of our interpretation of nature.

Physics is the domain of science concerned with the behavior of the natural universe. More specifically physics can be
  defined as the interaction of matter and energy throughout time.

  Matter: Any object having both mass and volume. Matter usually exists in three phases: solid, liquid, gas, and in certain cases, plasma.
  Energy: The capacity of any physical system to do <em>work</em>. For instance, it takes work to lift a boulder up a hill or to charge a battery.

</p>

<%= render partial: "layouts/newton", locals: {simulation_id: 1} %>
<%= render partial: "layouts/newton", locals: {simulation_id: 2, width: 500, height: 300, float: "center", show_questions: true} %>
