<div class="box-header">
  <div class="box-title challenge_title">
    <%= "Challenge ##{@challenge.id}: #{@challenge.title}"%>
  </div>
</div>

<div class="box-actions">
  <p id="#challenge_content" class="challenge_description">
    <%= "#{@challenge.content}" %>
  </p>
</div>