<script type="text/javascript">
  $(function() {
    $("#task_description").text("A projectile's velocity will only change under the influence of acceleration. Note " +
            "how the following projectiles maintain the same horizontal velocity.");
  });
</script>
<div id="preview" class="newton canvas_wrapper"
     data-width="820" data-height="550" data-path=<%= asset_path("newton/projectiles/projectiles.json")%> ></div>