<script type="text/javascript">
  $(function() {
    $("#task_description").text("You have twelve identical looking balls with one ball being slightly heavier or lighter than the other eleven. Given a balance, how can you find this ball using only three weighings?");
  });
</script>

<div id="preview" class="newton canvas_wrapper"
     data-width="860" data-height="860" data-path=<%= asset_path("newton/gravity/gravity.json")%> ></div>