<% provide(:title, @lesson.title) %>

<h3> Welcome to <%= @lesson.title %></h3>
<p><%= @lesson.description %></p>
<a class="btn btn-primary btn-large" href="<%= lesson_task_url(lesson_id: @lesson.id) %>">Get Started &raquo;</a>