<h4><%= @challenge.title %></h4>
<p><%= @challenge.content %></p>

<a class="btn btn-primary btn-large btn-next-lesson" href="#" id="btn-main">Primary</a>
<a class="btn btn-primary btn-mini btn-next-lesson" href="#">Primary</a>
<a class="btn btn-primary btn-small btn-next-lesson" href="#">Primary</a>

<br />
<a class="btn btn-warning btn-large btn-next-lesson" href="#">Warning</a>
<a class="btn btn-danger btn-large btn-next-lesson" href="#">Danger</a>
<a class="btn btn-info btn-large btn-next-lesson" href="#">Info</a>
<a class="btn btn-success btn-large btn-next-lesson" href="#">Next</a>
<a class="btn btn-large btn-large btn-next-lesson" href="#" id="pop" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">Default</a>

<br />
<div class="box">points</div>

<a class="btn btn-small" data-toggle="modal" href="#myModal" >Launch Modal</a>
