<div id="grader_response" class="alert alert-<%= type.html_safe %>" style="margin-bottom: 0">
  <a class="close" data-dismiss="alert" href="#">&times;</a>

  <%= "<strong>#{type.capitalize!}:</strong> #{message}".html_safe %>
</div>