<script type="text/javascript">
  $(function() {
    $("#task_description").text("All objects of mass exert a gravitational field. The strength of this field is " +
            "proportional to the mass of that object and inversely proportional to the distance to the massive object's " +
            "center of gravity");
  });
</script>
<div id="preview" class="newton canvas_wrapper"
     data-width="860" data-height="600" data-path=<%= asset_path("newton/orbit/orbit.json")%> ></div>