#toolbar {
  float: left;
  background: #333;
  height: 100%;
}

#toolbar_buttons {
  list-style: none;
  float: left;
  margin: 0;
}

#toolbar li {
  text-align: center;
  font-weight: bold;
  background: #CCC;
  border: 1px solid black;
}

#toolbar li a {
  display: block;
  padding: 1px;
  font-size: .8em;
  text-decoration: none;
}

#delete_btn {
  color: #8b0000;
}

.testedworking {
  color: gray;
}

.testedworking a:hover {
  font-weight: bold;
  background: #FFF;
  color: #ff8c00;
}

.notyetimplemented a {
  color: #666;
}

.notyettested {
  color: gray;
}

#edit_pane {
  clear: both;
/*padding: .4em;*/
  background: #aaa;
}

#workspace {
  float: left;
  width: 70%;
  height: 850px;
  margin: .25em;
}

#circuit_presets {
  float: right;
  width: 220px;
  height: 3000px;

  padding: .6em;
  color: white;
  background-color: #333;
}


a:hover {
  text-decoration: underline;
  color: #fffffb;
}

.green, .green a {
  text-decoration: none;
  color: #288000;
}

.yellow, .yellow a {
  text-decoration: none;
  color: #ddc122;
}

.red, .red a {
  text-decoration: none;
  color: #cc0002;
}


