/* Lessons */

/* Header */

/*s="subnav" style="margin-top: 10px;">*/

/*<!--*/
/*<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">*/
/*<span class="icon-bar"></span>*/
/*<span class="icon-bar"></span>*/
/*<span class="icon-bar"></span>*/
/*</a>-->*/


/*<ul class="navbar-inner nav nav-pills" style="padding-top: 5px">*/

.subnav {

  h3 {

    margin: .3em 1em 0em 1em;
    color: white;
  }

  a {
    color: white;
    font-weight: bold;
  }

  a:hover {
    color: black;
  }

  .nav-pills .active a {
    background-color: #d3d3d3;
    color: black;
  }

}

.lesson-preview-thumbnail {
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 3px 10px 3px -2px;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  p {
    margin: auto auto;
    text-align: center;
    font-size: 5em;
  }
}

.lesson-content {
  background-color: #222222;
  border: 2px solid #6D6E78;
  color: white;
}

.lesson-preview {

  background-color: #fffcf1;

  p {
    text-decoration: none;
    color: #222222;
    font-size: .9em;
    line-height: 1.5em;
    text-align: justify;
    padding-right: 1em;
    margin-top: .5em;
  }

  a {
    text-decoration: none;
  }
}

.lesson-preview:hover {
  background-color: #efece1;
}

