
<div id="extra">

  <div class="inner">

    <div class="container">

      <div class="row">

        <div class="span4">

          <%= link_to image_tag(asset_path "footer/logo_text.png"), :root %>
          <!-- <h3><span class="slash">//</span> Quick Links</h3> -->

          <ul class="footer-links clearfix" >
            <li><a href="./">Home</a></li>
            <li><a href="./pricing.html">Lessons</a></li>
            <li><a href="../features.html">Library</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./faq.html">FAQ</a></li>
            <li><a href="./faq.html">Contact Us</a></li>
          </ul>


          <ul class="footer-links clearfix">
            <li><a href="javascript:;">Support</a></li>
            <li><a href="javascript:;">License</a></li>
            <li><a href="javascript:;">Terms of Use</a></li>
            <li><a href="javascript:;">Privacy Policy</a></li>
            <li><a href="javascript:;">Something Else</a></li>
          </ul>


        </div> <!-- /span4 -->


        <div class="span4">

          <h3><span class="slash">//</span> Stay In Touch</h3>


          <p>There are real people behind Physics Academy, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>

          <ul class="social-icons-container">

            <li>
              <a href="javascript:;" class="social-icon social-icon-twitter">
                Twitter
              </a>
            </li>

            <li>
              <a href="javascript:;" class="social-icon social-icon-googleplus">
                Google +
              </a>
            </li>

            <li>
              <a href="javascript:;" class="social-icon social-icon-facebook">
                Facebook
              </a>
            </li>

          </ul> <!-- /extra-social -->

        </div> <!-- /span4 -->

        <div class="span4">

          <h3><span class="slash">//</span> Subscribe and get updates</h3>


          <p>Physics Academy is still in development, so enter your email to receive updates and invitations for the beta.</p>


          <form>

            <input type="text" name="subscribe_email" placeholder="Your Email" />

            <br />

            <button class="btn ">Subscribe</button>
          </form>


        </div> <!-- /span4 -->

      </div> <!-- /row -->

    </div> <!-- /container -->

  </div> <!-- /inner -->

</div> <!-- /extra -->