<div id="footer">
  <div class="inner">
    <div class="container">

      <div class="row">
        <div id="footer-copyright" class="span4" style="color: #6D6E78;">
          &copy; 2012 Physics Academy
        </div>
      </div>

    </div>
  </div>
</div>